@import "src/styles/scss/sdk/index";

.block-aside {
  display: table-cell;
  width: 30.5rem;
  min-width: 30.5rem;
  padding-left: 1.5rem;
  vertical-align: top;
}

.friendly-link {
  .info-list {
    li {
      text-align: center;
    }

    .text{
      font-size:22px;
      font-weight: bold;
    }
  }
}

@include mobile() {
  .block-aside {
    display: block;
    width: 100%;
    min-width: 100%;
    padding-left: 0;
  }
}