@import "src/styles/scss/sdk/index";

.frame-header {
  height: 5rem;
  background: #fff;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  @include boxShadow(0 .1rem .1rem $box-shadow-color);

  nav {
    float: left;
    font-size: 0;
    padding-left: 1.5rem;

    a, .btn {
      max-width: 12rem;
      display: inline-block;
      height: 5rem;
      padding: 1.5rem 1.5rem 1.2rem;
      border-bottom: .3rem #fff solid;
      font-size: 1.4rem;
      line-height: 2rem;
      color: $font-color;
      @include transition(all .2s ease-in-out);
      @extend %textOverflowEllipsis;

      &:hover, &.active {
        border-bottom-color: $theme-color;
        color: $theme-color;
      }
    }

    .icon-red-dot {
      position: relative;
      width: .6rem;
      height: .6rem;
      @include borderRadius(50%);
      background: red;
      top: -1rem;
    }
  }
}

.header-left {
  float: left;
  height: 5rem;

  .logo {
    float: left;
    display: inline-block;
    height: 4rem;
    padding: .5rem 0;

    img {
      height: 4rem;
      vertical-align: middle;
    }

    .site-name{
      font-size: 2.4rem;
      color: $font-color;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-left:.5rem;
    }
  }
}

.header-right {
  float: right;
  height: 5rem;

  .search {
    float: left;
    height: 5rem;
    padding: 1rem 0 1rem 2rem;
    position: relative;

    input {
      width: 20rem;
      font-size: 1.2rem;
      padding: .4rem 3rem .4rem .8rem;
    }

    .btn-search {
      position: absolute;
      width: 3rem;
      @include setHeightGroup(3rem);
      right: 0;
      top: 1rem;
      z-index: 110;
      text-align: center;
      font-size: 1.8rem;
      color: $lightest-font-color;
    }
  }
}